<header class="uk-width-1-1 uk-light uk-flex uk-flex-column uk-flex-middle uk-flex-center">
  <img id="logo" alt="Plug beta Screenshot" src="title.svg" />
  <!--<img id="deal" class="uk-animation-fade uk-animation-slide-bottom" alt="Plug beta Screenshot" src="deal2.svg" />-->
  <div id="deal" class="uk-flex-inline uk-flex-between uk-flex-middle uk-flex-no-wrap">
    <div id="status"></div>
    <div><h3>Negociação de exemplo</h3><p>Organização tabajara</p></div>
    <img src="stars.gif"/>
    <img src="stars.gif"/>
    <div task> taks</div>>
  </div>
  <div class="uk-flex uk-flex-middle uk-flex-column">
    <h2>Mais simples, mais completo e mais amigável</h2>
    <p>
      Migre agora para a nova versão do Plug CRM<br />
    </p>
    <button><span>Migrar de versão</span></button>
    <p><sub>Sales' best friend</sub></p>
  </div>
</header>

<section class="uk-width-1-1">
  <h2>Como assim Beta?</h2>
  <p>
    Quem é Beta tem acesso adiantado à novas funcionalidades que estão sendo desenvolvidas.
    Porém, além de receber as coisas mais cedo, elas podem ter alguns erros. Portando o Beta não é recomendado para os fracos de coração.
  </p>
</section>

<section class="uk-flex-inline uk-flex-around uk-flex-start uk-flex-wrap uk-width-1-1">
  <div class="uk-width-1-2">
    <h2>Estarei perdendo alguma coisa?</h2>
    <p>
      Não, a migração pro beta inclui todos os seus dados da instância anterior,
      e nós nos certificamos que nenhuma função do Plug Beta não vai deletar nada da sua conta.
    </p>
  </div>

  <div class="uk-width-1-2">
    <h2>É mais caro?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

</section>

<section class="uk-flex-inline uk-flex-around uk-flex-start uk-flex-wrap uk-width-1-1">
  <div class="uk-width-1-1 uk-flex-inline uk-flex-center uk-flex-middle" style="overflow: hidden">
    <img src="mockups.jpg" style="margin-left: -120px" uk-scrollspy="cls: uk-animation-fade; repeat: true, delay: 1" alt="Sistema multiplataforma">
  </div>
  <div class="uk-width-1-2">
    <h2>Seu CRM cada dia melhor</h2>
    <p>
      Toda semana traremos aprimoramentos de performance, interface, e novos recursos.<br>
      Não deixe de usar ser CRM disponível no android, iOS, e tablet.
    </p>
  </div>

  <div class="uk-width-1-2">
    <h2>O Que dizer aki?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>

<section class="uk-flex-inline uk-flex-around uk-flex-start uk-flex-wrap uk-width-1-1">
  <div class="uk-width-1-1 uk-flex-inline uk-flex-center uk-flex-middle" style="overflow: hidden">
    <img src="mockups.jpg" style="margin-left: -120px" uk-scrollspy="cls: uk-animation-fade; repeat: true, delay: 1" alt="Sistema multiplataforma">
  </div>
  <div class="uk-width-1-2">
    <h2>Seu CRM cada dia melhor</h2>
    <p>
      Toda semana traremos aprimoramentos de performance, interface, e novos recursos.<br>
      Não deixe de usar ser CRM disponível no android, iOS, e tablet.
    </p>
  </div>

  <div class="uk-width-1-2">
    <h2>O Que dizer aki?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>

<footer class="uk-width-1-1 uk-section-secondary">
  <h4>get all news from future changes</h4>
  <div class="uk-flex uk-flex-nowrap uk-flex-row">
    <input type="email" placeholder="john_doe@plugcrm.net" required />
    <button type="submit"><span>submit</span></button>
  </div>
</footer>
